.tooltip {
  max-width: fit-content;
  background-color: #fef4f5;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  color: var(--gray-color);
  text-align: center;
  line-height: 1.5;
  opacity: 1;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
    max-width: 500px;
    line-height: 2;
  }
}
